.B{
    font-size: xx-large;
    color: #ffffff;
    font-weight: bolder;
}
.D{
    font-size: xx-large;
    color: #ffffff;
    font-weight: bolder;
}
.title{
    color: #000000;
    font-weight: bolder;
}
.card{
 margin: 0px auto;   
}